<br />
<br />
<div class="container mt-5 text-center" style="min-height:100vh;">
    <h3 style="font-size:2.5em;">
        Благодарим за обратную связь!
    </h3>
    <p style="font-size:2.0em;">
        Наши сотрудники свяжутся с вами по вашему запросу в ближайшее время!
    </p>
    <a asp-controller="product" asp-action="list" class="btn btn-primary">
        Вернуться на главную страницу
    </a>
</div>