@{
    ViewData["Title"] = "Contacts";
}

<br />
<div class="container mt-3" style="font-size:1.1em;">
    <br />
    <h3 class="text-center mt-2" style="font-size:2.8em;">Contacts</h3>
    <div class="m-1 p-1">
        @await Component.InvokeAsync("AppAddress")
    </div>
</div>