@{
    ViewData["Title"] = "Contacts";
}


<div class="container" style="margin-top:10%; margin-bottom:5%;">
    <br />
    <h1 class="text-center mt-4">
        <strong>
            Контакты
        </strong>
    </h1>
    <div class="m-2 p-2">
        @await Component.InvokeAsync("AppAddress")
    </div>
</div>

<footer class="border-top footer">
    <div class="container">
        &copy; 2021 - @await Component.InvokeAsync("AppName")
        <div style="float:right">@await Component.InvokeAsync("SocialAddress")</div>
    </div>
</footer>