@{
    ViewData["Title"] = "Contacts";
}


<div class="container">
    <br />
    <h1 class="text-center mt-4">
        <strong>
            Contacts
        </strong>
    </h1>
    <div class="m-2 p-2">
        @await Component.InvokeAsync("AppAddress")
    </div>
</div>