@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="container text-center mt-5">
    @await Component.InvokeAsync("AppHomeImage")
    <div class="mt-2 p-2" style="font-size:1.5em;">
        <p>@await Component.InvokeAsync("AppHomeImageText")</p>
    </div>
</div>
<br />


<div class="container text-center mt-5">
    <hr />
    <div class="row p-2">
        <div class="col-sm">
            @await Component.InvokeAsync("AppHomeImageFirst")
        </div>
        <div class="col-sm mt-2" style="font-size:1.5em;">
            <p>@await Component.InvokeAsync("AppHomeImageTextFirst")</p>
        </div>
    </div>
    <hr />

    <br />

    <div class="row p-2">
        <div class="col-sm mt-2" style="font-size:1.5em;">
            <p>@await Component.InvokeAsync("AppHomeImageTextSecond")</p>
        </div>
        <div class="col-sm">
            @await Component.InvokeAsync("AppHomeImageSecond")
        </div>
    </div>

    <br />

</div>