@model Order

<br />
<div class="container mt-5">
    <h2 class="text-center mt-2" style="font-size:3.5em;">Checkout</h2>
    <br />
    <div class="card border-0" style="min-height:100vh;">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Checkout" method="post" class="p-3"
              style="box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50); font-size:2em;">
            <div class="form-group">
                <label>ФИО:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Адрес доставки:</label>
                <input asp-for="Line1" class="form-control" />
                <span asp-validation-for="Line1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Эл. адрес:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Город:</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Телефонный номер:</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Почтовый индекс:</label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <a class="btn btn-primary m-1 float-left" asp-action="Index" asp-controller="Cart" style="font-size:0.8em;">Назад</a>
                <input class="btn btn-success m-1 float-right" style="font-size:0.8em;" type="submit" value="Отправить заявку" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}