@model ProductCreateViewModel

@{
    ViewBag.Title = "Create object";
    Layout = "_AdminLayout";
}

<br />
<div class="container mt-5">
    <div class="card card-columns p-2 bg-light text-center">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <h4 style="font-weight:bolder; float:left;">
                    <label>Name:</label>
                </h4>
                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                <input asp-for="Name" class="form-control" />
            </div>
            <hr />
            <div class="card p-1">
                <div class="form-group row m-1">

                    <h4><label class="m-2" style="font-weight:bolder;">First picture:</label></h4>
                    <div class="custom-file">
                        <input multiple asp-for="Images" class="form-control custom-file-input" />
                        <label class="custom-file-label">Select a file...</label>
                    </div>

                    <h4><label class="m-2" style="font-weight:bolder;">Second picture:</label></h4>
                    <div class="custom-file">
                        <input multiple asp-for="Images2" class="form-control custom-file-input" />
                        <label class="custom-file-label">Select a file...</label>
                    </div>

                    <h4><label class="m-2" style="font-weight:bolder;">Third picture:</label></h4>
                    <div class="custom-file">
                        <input multiple asp-for="Images3" class="form-control custom-file-input" />
                        <label class="custom-file-label">Select a file...</label>
                    </div>

                </div>
            </div>
            <hr />
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Description:</label>
                </h4>
                <div><span asp-validation-for="Description" class="text-danger"></span></div>
                <textarea asp-for="Description" class="form-control" rows="7" cols="200"></textarea>
            </div>
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Manufacturer:</label>
                </h4>
                <div><span asp-validation-for="Manufacturer" class="text-danger"></span></div>
                <input asp-for="Manufacturer" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Category:</label>
                </h4>
                <div><span asp-validation-for="Category" class="text-danger"></span></div>
                <input asp-for="Category" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Date of manufacture:</label>
                </h4>
                <div><span asp-validation-for="DateOfManufacture" class="text-danger"></span></div>
                <input asp-for="DateOfManufacture" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Quantity in stock:</label>
                </h4>
                <div><span asp-validation-for="QuantityInStock" class="text-danger"></span></div>
                <input asp-for="QuantityInStock" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <h4 style="font-weight:bolder;float:left;">
                    <label>Price:</label>
                </h4>
                <div><span asp-validation-for="Price" class="text-danger"></span></div>
                <input asp-for="Price" class="form-control" />
            </div>
            <hr />
            <div class="text-center">
                <button class="btn btn-success" type="submit" style="font-size:1.5em;">Create</button>
                <a asp-action="AllProducts" class="btn btn-warning" style="font-size:1.5em;">Cancel</a>
            </div>
            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileLabel = $(this).next('.custom-file-label');
                            var files = $(this)[0].files;
                            if (files.length > 1) {
                                fileLabel.html(files.length + ' files selected');
                            }
                            else if (files.length == 1) {
                                fileLabel.html(files[0].name);
                            }
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>