@model AppAddressUpdateViewModel

@{
    ViewBag.Title = "Изменить адрес";
    Layout = "_AdminLayout";
    var photoPath = "~/images/" + (Model.AppPicturePath ?? "noimage.png");
}


<br />
<div class="container mt-5">
    <div class="card text-center m-2 p-2">
        <form asp-action="EditAppAddressData" asp-controller="Admin" enctype="multipart/form-data" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="City" style="font-size:1.5em;" class="float-left">
                    Город
                </label>
                <input asp-for="City" class="form-control" />
                <div>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address" style="font-size:1.5em;" class="float-left">
                    Адрес
                </label>
                <input asp-for="Address" class="form-control" />
                <div>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone" style="font-size:1.5em;" class="float-left">
                    Телефон
                </label>
                <input asp-for="Phone" class="form-control" />
                <div>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" style="font-size:1.5em;" class="float-left">
                    Эл. адрес
                </label>
                <input asp-for="Email" class="form-control" />
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label asp-for="Description" style="font-size:1.5em;" class="float-left">Описание (только 200 символов)</label>
                </div>
                <div>
                    <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                </div>
                <div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AppPicture" style="font-size:1.5em;" class="float-left">Изображение</label>
                <div class="custom-file">
                    <input asp-for="AppPicture" class="form-control custom-file-input" />
                    <label class="custom-file-label">Нажмите здесь, чтобы изменить изображение...</label>
                </div>
            </div>
            <div class="form-group">
                <img src="@photoPath" style="height:100%; width:100%;" asp-append-version="true" />
            </div>
            <hr />

            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-outline-success" style="font-size:1.5em;"/>
                <a asp-action="AddressList" asp-controller="Admin" class="btn btn-outline-warning" style="font-size:1.5em;">Отмена</a>
            </div>

            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileLabel = $(this).next('.custom-file-label');
                            var files = $(this)[0].files;
                            if (files.length > 1) {
                                fileLabel.html(files.length + ' files selected');
                            }
                            else if (files.length == 1) {
                                fileLabel.html(files[0].name);
                            }
                        });
                    });


                </script>
            }

        </form>
    </div>
</div>