@model InfoEditViewModel

@{
    ViewBag.Title = "Edit application";
    Layout = "_AdminLayout";
}

<br />
<div class="container mt-5">
    <div class="card border m-2">
        <form asp-controller="Admin" asp-action="EditInfo" method="post" enctype="multipart/form-data">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ExistingImagePath" />
            <input type="hidden" asp-for="ExistingSocialImagePath" />
            <input type="hidden" asp-for="ExistingAppHomeImage" />
            <input type="hidden" asp-for="ExistingAppHomeImageFirst" />
            <input type="hidden" asp-for="ExistingAppHomeImageSecond" />

            <div class="card m-2 p-3">

                <br />
                <h3 class="text-center text-danger m-3" style="text-decoration-line:underline; font-weight:bolder;">
                    Изменить название и логотип приложения
                </h3>
                <br />

                <div class="form-group row m-1">
                    <h5 style="font-weight:bolder;"><label>Название сайта:</label></h5>
                    <input asp-for="AppName" class="form-control" placeholder="Название сайта..." />
                    <span asp-validation-for="AppName" class="text-danger"></span>
                </div>
                <hr />

                <div class="form-group row m-1">
                    <h5 style="font-weight:bolder;"><label>Логотип приложения:</label></h5>
                    <div class="custom-file">
                        <input multiple asp-for="AppImages" class="form-control custom-file-input" />
                        <label class="custom-file-label">Нажмите здесь, чтобы изменить логотип...</label>
                    </div>
                </div>
                <hr />
            </div>
            <br />

            <br />
            <h3 class="text-center text-danger m-3" style="text-decoration-line:underline; font-weight:bolder;">
                Редактировать страницу / О нас
            </h3>
            <br />

            <div class="form-group m-1">
                <div class="card m-2">
                    <div class="card-header">
                        <div class="mt-2 text-center" style="font-weight:bolder;">
                            <h3><label>Изображение главной страницы:</label></h3>
                        </div>
                        <div class="card m-4">
                            @await Component.InvokeAsync("AppHomeImage")
                        </div>
                        <div class="custom-file">
                            <input multiple asp-for="AppHomeImage" class="form-control custom-file-input" />
                            <label class="custom-file-label">Нажмите здесь, чтобы выбрать логотип...</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <span asp-validation-for="AppHomeImageText" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <h5 style="font-weight:bolder;">
                                <label>Текст главной страницы:</label>
                            </h5>
                        </div>
                        <textarea asp-for="AppHomeImageText" class="form-control" rows="4" cols="100"></textarea>
                    </div>
                </div>
                <hr />
                <div class="card m-2">
                    <div class="card-header">
                        <div class="mt-2 text-center">
                            <h3 style="font-weight:bolder;">
                                <label>Изображение первого блока:</label>
                            </h3>
                        </div>
                        <div class="card m-4">
                            @await Component.InvokeAsync("AppHomeImageFirst")
                        </div>
                        <div class="custom-file">
                            <input multiple asp-for="AppHomeImageFirst" class="form-control custom-file-input" />
                            <label class="custom-file-label">Нажмите здесь, чтобы изменить изображение...</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <span asp-validation-for="AppHomeImageTextFirst" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <h5 style="font-weight:bolder;">
                                <label>Текст первого блока:</label>
                            </h5>
                        </div>
                        <textarea asp-for="AppHomeImageTextFirst" class="form-control" rows="4" cols="100"></textarea>
                    </div>
                </div>
                <hr />
                <div class="card m-2">
                    <div class="card-header">
                        <div class="mt-2 text-center">
                            <h3 style="font-weight:bolder;">
                                <label>
                                    Изображение второго блока:
                                </label>
                            </h3>
                        </div>
                        <div class="card m-4">
                            @await Component.InvokeAsync("AppHomeImageSecond")
                        </div>
                        <div class="custom-file">
                            <input multiple asp-for="AppHomeImageSecond" class="form-control custom-file-input" />
                            <label class="custom-file-label">Нажмите здесь, чтобы изменить изображение...</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <span asp-validation-for="AppHomeImageTextSecond" class="text-danger"></span>
                        </div>
                        <div class="mt-2">
                            <h5 style="font-weight:bolder;">
                                <label>Текст второго блока:</label>
                            </h5>
                        </div>
                        <textarea asp-for="AppHomeImageTextSecond" class="form-control" rows="4" cols="100"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row m-1">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success" style="font-size:1.5em;">Изменить</button>
                    
                    <a asp-action="Index" class="btn btn-secondary" style="font-size:1.5em;">Отмена</a>
                </div>
            </div>
            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileLabel = $(this).next('.custom-file-label');
                            var files = $(this)[0].files;
                            if (files.length > 1) {
                                fileLabel.html(files.length + ' files selected');
                            }
                            else if (files.length == 1) {
                                fileLabel.html(files[0].name);
                            }
                        });
                    });
                </script>
            }

        </form>
    </div>
</div>