@model IEnumerable<Product>


@{
    ViewBag.Title = "Control Panel: Products";
    Layout = "_AdminLayout";
}


<div class="mt-2">

    <div>

        @if (Model.Count() == 0)
        {
            <div class="text-center m-2">
                <form asp-action="SeedDatabase" method="post">
                    <button type="submit" class="btn btn-danger">Загрузка тестовых данных в Базу Данных.</button>
                </form>
            </div>
        }
        else
        {
            <span class="badge badge-pill badge-light text-center mt-3 mb-3" style="font-size:2.3em;">Объекты: @Model.Count()</span>
        }

        <div class="card p-5">
            <table class="table" style="font-size:1.5em;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Описание</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            Все товары / услуги. Операции Добавить, Редактировать, Удалить.
                        </td>
                        <td class="text-right">
                            <a asp-action="AllProducts" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                Панель объектов/товаров
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            Входящие покупки / заказы
                        </td>
                        <td class="text-right">
                            <a asp-controller="Order" asp-action="Index" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                Заказы
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            База данных (все заказы) / покупок
                        </td>
                        <td class="text-right">
                            <a asp-controller="Order" asp-action="ViewDataBase" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                База данных: Все заказы
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>
                            Редактировать приложение. Редактировать название приложения, изображения и тексты страниц.
                        </td>
                        <td class="text-right">
                            <a asp-action="EditInfo" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                Редактировать приложение
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>
                            Контакты. Операции Добавить, Редактировать, Удалить.
                        </td>
                        <td class="text-right">
                            <a asp-action="AddressList" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                Панель: Контакты
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>
                            Социальные ссылки. Операции Добавить, Редактировать, Удалить.
                        </td>
                        <td class="text-right">
                            <a asp-action="SocialList" class="btn btn-outline-success m-1 w-75" style="font-size:0.9em;" target="_blank">
                                Панель: Социальные адреса
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr />
        <br />

        <p class="text-center mt-3 mb-4" style="font-size:2.3em;font-weight:bolder;">
            Панель управления:
            <span class="badge badge-light badge-pill" style="font-size:0.9em;">Обратная связь</span>
        </p>

        <div class="card p-5">
            <table class="table" style="font-size:1.5em;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Описание</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            Входящие сообщения
                        </td>
                        <td class="text-right">
                            <a asp-controller="Admin" asp-action="CallBackList" class="btn btn-outline-primary m-1 w-75"
                               style="font-size:0.9em;" target="_blank">
                                Панель: Обратная связь
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr />
        <br />

        <p class="text-center mt-3 mb-4" style="font-size:2.3em;font-weight:bolder;">
            Панель управления:
            <span class="badge badge-light badge-pill" style="font-size:0.9em;">Администраторы, сотрудники</span>
        </p>

        <div class="card p-5">
            <table class="table" style="font-size:1.5em;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Описание</th>
                        <th scope="col" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            Панель пользователя. Операции Добавить, Редактировать, Удалить.
                        </td>
                        <td class="text-right">
                            <a asp-controller="User" asp-action="Index" class="btn btn-outline-warning m-1 w-90" style="font-size:0.9em;" target="_blank">
                                Пользователи
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            Панель ролей. Действия по добавлению, изменению и удалению ролей для пользователей
                        </td>
                        <td class="text-right">
                            <a asp-controller="Role" asp-action="Index" class="btn btn-outline-warning m-1 w-90" style="font-size:0.9em;" target="_blank">
                                Роли
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="text-center mt-5">
        <hr />
        <a asp-controller="Product" asp-action="List" class="btn btn-warning m-1" style="font-size:1.6em;" target="_blank">
            Вернуться к заявке
        </a>
    </div>
</div>

@section Scripts{
    <script src="~/js/Product.js"></script>
    <script src="https://cdn.tiny.cloud/1/3qaegff8mo61lk0xki6vwf4leavdmaljpx30jpu9b3zxzh0o/tinymce/5/tinymce.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
}