@model IEnumerable<AppSocialAddress>

@{
    ViewBag.Title = "Панель управления: Социальные данные";
    Layout = "_AdminLayout";
}

<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Логотип</th>
                <th scope="col">Социальный URL</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tbody>
                <tr>
                    <th>
                        <img class="borderRadius border border-dark" src="~/images/@item.AppSocialImg" height="40" width="40" asp-append-version="true" />
                    </th>
                    <th>@item.UrlAddress</th>
                    <th class="text-right">
                        <form asp-action="DeleteSocialAddress" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-outline-warning" asp-action="EditSocialData" asp-route-id="@item.Id">Изменить</a>
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Delete: @item.UrlAddress?')">
                                Удалить
                            </button>
                        </form>
                    </th>
                </tr>
            </tbody>
        }
    </table>
    <a asp-action="CreateSocialData" class="btn btn-outline-success" style="font-size:1.5em;">Добавить</a>
    <a asp-action="Index" class="btn btn-outline-primary" style="font-size:1.5em;">Назад</a>
</div>