@model RegisterViewModel

<div class="container m-3 p-2">
    <br />
    <h3 class="text-center m-2" style="font-weight:bolder;">Add new user</h3>

    <hr />
    <form method="post" asp-controller="Account" asp-action="Register" class="m-2 p-2">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group text-center">
            <input type="submit" value="Register" class="btn btn-warning" />
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back</a>
        </div>
    </form>
</div>